
 .button {
  background-color: #46C646;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=text],input[type=password],input[type=number],input[type=email],
select,input[type=date],textarea
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label
{
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-weight: bold;
  color:white;
}

body{

    background-repeat: no-repeat;
     background-size: 36%;
     background-position: right 600px top 370px;
      color:#1C5188;
    background:linear-gradient(to bottom,pink, #FEF0EF 60%);
     font-family: 'Lato', sans-serif;
     font-size:20px;
     text-align:center;
min-height: 100vh;
   }

   #characteristic {

      margin: auto;
       width: 60%;
       line-height: 30px;
       background-color: #151B54;
   color:white;
       padding: 21px;
   }

    #animated{
     animation-name: move;
     animation-duration: 5s;
     animation-timing-function: ease-in-out;
     animation-iteration-count: infinite;
     animation-direction: alternate;
    /*cursor: url("http://downloads.totallyfreecursors.com/cursor_files/gold_star.ani"), url("http://downloads.totallyfreecursors.com/thumbnails/gold_star.gif"), auto;*/
   }


   #space{
     font-size:25px;

   }

   a.button {
     background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);
       border-radius: 7px;
     margin-bottom:70px;
       box-shadow: 0px 2px 4px rgba(34,62,66,.25);
     color: purple;
     font-size: 20px;
     letter-spacing: 2px;
     padding: 6px 22px;
     text-decoration: none;
     -webkit-transition: box-shadow 1s ease;
       transition: box-shadow 1s ease;
     /* hover {
       box-shadow: 0px 4px 4px rgba(33,62,66,.5);
       -webkit-transition: box-shadow 1s ease;
       transition: box-shadow 1s ease;

     } */
    }

    .checksign{
        width:300px;
        margin-left:auto;
        margin-right:auto;
        text-align:center!important;

    }

    .regform{
        width:600px;
        margin-left:auto;
        margin-right:auto;
        text-align:center!important;
    }

    .result-sign{
text-align:center!important;
    }

    .page-footer{
        background-color:black;
        padding:20px;
        opacity:80%;
        margin-top:100px;
    }

   #tr{
        padding:10px;
    }
    #zdsigns{
    background-color:#FEF0EF;
    padding:5rem;
     width: 60%;
     margin-left:auto;
      margin-right:auto;
    }

    .error-message{
    color:white;
    background-color:#F67280;
    padding:10px 15px;
    width:fit-content;
    border-radius:5px;
    margin-left:auto;
    margin-right:auto;
    line-height:20px;
    }

    .errorlist{
        color:white;
    background-color:#F67280;
    padding:1px 15px;
    width:fit-content;
    border-radius:5px;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    list-style:none;
    line-height:20px;
    }

    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 200px;
      background-color:purple;
      color:white;
      display:inline-block;
      padding-bottom:20px;
      border-radius: 10px;
      margin : 0px 5px;
}
 #img{
     border-radius: 10px 10px 0px 0px;
  }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

 .signs-home{
    margin-top:20px;
    margin-bottom:20px;
 }

    a.btn {
     background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);
     border-radius: 7px;
     box-shadow: 0px 2px 4px rgba(34,62,66,.25);
     color: purple;
     font-size: 20px;
     letter-spacing: 2px;
     padding: 6px 22px;
     text-decoration: none;
     margin: 0px 0px;
     /* hover {
       box-shadow: 0px 4px 4px rgba(33,62,66,.5);
       -webkit-transition: box-shadow 1s ease;
       transition: box-shadow 1s ease;

     } */
    }

    #homeexp{
    color:white;
    background-color: purple;
     width:fit-content;
     margin-left:auto;
    margin-right:auto;
    padding: 2px 20px;
    border-radius: 10px;
    }
